@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";
@import "katex/dist/katex.min.css";

* {
  font-family: "Hind";
}

body {
  @apply dark:bg-black dark:text-white;
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 40px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}

.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 30px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
  text-align: left;
}

.right {
  flex: 1;
  text-align: right;
}

.italic-text {
  font-style: italic;
}

.download-link-light {
  color: #0070f3;
  text-decoration: underline;
}

.download-link-dark {
  color: #fff;
  text-decoration: underline;
}

.justify-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background-color: #AAsecondary; */
  border: 2px solid;
}

ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-left: 1em;
  /* padding-left: 1em; */
  /* text-indent: 1em; */
}

li > ul {
  margin-left: 1em; /* indentation for nested list */
}

/* li > ul > li:before {
  margin-right: 0.25em;
}

li > ul > li:after {
  margin-left: 0.25em;
} */

i {
  font-style: normal;
}
